/* Fuente Global */
body {
    font-family: 'Poppins', sans-serif;
}

/* Ajuste del Footer (Sticky Footer) */
/* Se maneja con clases de Bootstrap (d-flex flex-column min-vh-100), 
   pero aseguramos que el footer no choque */

/* Previsualización de Color */
.color-preview {
    width: 100%;
    height: 250px; /* Más alto para mejor visibilidad */
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.15s ease-out;
    border: 1px solid rgba(0,0,0,0.1);
}

/* Estilos personalizados para los inputs tipo Range (Opcional, para más detalle) */
.form-range {
    height: 1.5rem;
}

/* Tipografía de código */
.font-monospace {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace !important;
    letter-spacing: 1px;
}